---
/**
 * * These are vertical project item cards
 * Data is taken from src/config/projectData.json.ts
 */

import { Image } from "astro:assets";

// components
import Button from "@components/Button/Button.astro";

// data
import { type ProjectItem } from "@config/projectData.json";

interface Props extends ProjectItem {
	rest?: any;
}

const { image, title, description, href, ...rest } = Astro.props as Props;
---

<div class="flex flex-col border border-base-600 p-4" {...rest}>
	<!-- image -->
	<div class="mx-auto max-w-4xl">
		<Image class="object-cover" src={image} alt={title} height={700} />
	</div>

	<!-- text -->
	<div class="mt-4 flex flex-grow flex-col justify-between">
		<div>
			<h2 class="h3">{title}</h2>
			<p class="description mt-4">{description}</p>
		</div>
		<div class="mt-4 flex">
			<Button variant="ghost" href={href} arrow="right" target="_blank" rel="noopener noreferrer">
				Learn more <span class="sr-only">about {title}</span>
			</Button>
		</div>
	</div>
</div>
