---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import BaseLayout from "./BaseLayout.astro";
import Button from "@components/Button/Button.astro";
import TableOfContents from "@components/TableOfContents/TableOfContents.astro";
import { formatDate } from "@js/textUtils";

interface Props {
	project: CollectionEntry<"projects">;
	headings: import("astro").MarkdownHeading[];
}

const { project, headings } = Astro.props as Props;
const { title, description, pubDate, updatedDate, heroImage, projectUrl } = project.data;
---

<BaseLayout title={title} description={description} image={heroImage}>
	<article class="site-container pt-36 md:pt-44">
		<div class="flex w-full flex-col items-center">
			<div class="mx-auto flex w-full max-w-[800px]">
				<div class="mx-auto text-center">
					<p class="description">{formatDate(pubDate)}</p>
					<h1 class="h1 mt-8">{title}</h1>
					<p class="description mt-6">{description}</p>
					<!-- {
						projectUrl && (
							<div class="mt-8 flex justify-center">
								<Button href={projectUrl} target="_blank" rel="noopener noreferrer" arrow="right">
									View Project
								</Button>
							</div>
						)
					} -->
				</div>
			</div>

			<div class="mt-6 overflow-hidden">
				<Image
					src={heroImage}
					alt={`Cover for ${title}`}
					width={2000}
					quality="high"
					class="max-h-[70vh] object-cover"
					loading="eager"
					format="webp"
				/>
			</div>
		</div>

		<div class="mt-10 w-full">
			<div class="mx-auto flex max-w-2xl flex-col gap-10 lg:grid lg:max-w-none lg:grid-cols-3">
				<div class="text-base-content text-base lg:col-span-2 lg:col-start-1">
					{
						updatedDate && (
							<div class="mb-6 italic">
								<time datetime={updatedDate.toISOString()}>Updated: {formatDate(updatedDate)}</time>
							</div>
						)
					}
					<section id="project-content" class="markdown-content mx-auto lg:ml-0">
						<slot />
					</section>

					<div class="mt-16 flex">
						<Button variant="outline" href="/projects/" arrow="left"> Back to all projects </Button>
					</div>
				</div>

				<aside class="hidden lg:block">
					<div class="sticky top-20">
						<div class="h-[calc(100vh-6rem)] overflow-y-auto">
							<TableOfContents headings={headings} levels={3} />
						</div>
					</div>
				</aside>
			</div>
		</div>
	</article>
</BaseLayout>
